.凍頂烏龍茶 {
  position: absolute;
  left: 400px;
  top: -200px;
  animation: xAxis 40s infinite cubic-bezier(0.12, 0, 0.39, 0);
}

.凍頂烏龍茶::after {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  background-image: url('../../Images/Wall/凍頂烏龍茶.gif');
  background-size: 200px;
  animation: yAxis 40s infinite cubic-bezier(0.61, 1, 0.88, 1);
}

.鐵觀音茶 {
  position: absolute;
  left: 400px;
  top: -200px;
  animation: xAxis 40s infinite cubic-bezier(0.12, 0, 0.39, 0);
}

.鐵觀音茶::after {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  background-image: url('../../Images/Wall/鐵觀音茶.gif');
  background-size: 200px;
  animation: yAxis 40s infinite cubic-bezier(0.61, 1, 0.88, 1);
}

@keyframes yAxis {
  0% {
    display: block;
    opacity: 1;
  }
  50% {
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    transform: translateY(600px);
  }
  51% {
    display: block;
    opacity: 1;
  }
  52% {
    display: none;
    opacity: 0;
  }
  99% {
    display: none;
    opacity: 0;
  }
}

@keyframes xAxis {
  50% {
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    transform: translateX(-600px);
  }
}