body, html {
  background: #FBFBDA
}

/* @keyframes bottomleft {
  from  {bottom: '-1300px'; left: '-850px';}
  to    {bottom: '-1250px'; left: '-800px';}
}

.bottomleftObject {
  display: block;
  position: absolute;
  scale: 0.6;
  bottom: '-1300px';
  left: '-850px';
  animation-name: bottomleft;
  animation-duration: '3s';
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes upright {
  from  {top: '-1050px'; right: '-1700px';}
  to    {top: '-1000px'; right: '-1650px';}
}

.uprightObject {
  display: block;
  position: absolute;
  scale: 0.6;
  top: '-1050px';
  right: '-1700px';
  animation-name: upright;
  animation-duration: '3s';
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes upleft {
  from  {top: '-1600px'; left: '-1350px';}
  to    {top: '-1550px'; left: '-1300px';}
}

.upleftObject {
  display: block;
  position: absolute;
  scale: 0.6;
  top: '-1600px';
  left: '-1350px';
  animation-name: upleft;
  animation-duration: '3s';
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */