.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    /* display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem; */
    box-sizing: border-box;
    /* justify-content: space-around; */
    background-size: fit;
}

.graph {
    /* background-color: #FFFFFF; */
    color: #101010;
    width: 100%;
    height: 100%;
    margin: 1rem;
}

.row {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 95%;
    box-sizing: border-box;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease-in;
}

.bar {
    height: 1.5rem;
    background-color: var(--text-color);
    transition: width 0.5s ease-in;
}

.tmp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}