.background {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(95, 98, 0, 0.14), rgba(95, 98, 0, 0.14)), #FEFCF4;
}

.video {
    position: fixed;
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: fixed;
    z-index: 100;
    color: var(--text-color)
}

.section {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;

    > div {
        position: absolute;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        text-align: justify;
        transition: all 2s ease-in-out;
        // background-color: var(--background-color);
        
        > svg {
            width: 20px;
            height: 16px;
            stroke-width: 2px;
            stroke: var(--border-color);
        }
    }
    
    .first {
        padding: 0 1.5rem;
        width: 100%;
        bottom: 30%;
        left: 0;
        opacity: 1;

        .title {
            max-width: 60%;
            text-align: left !important;
        }

        .body {
            position: relative;
            left: 50%;
            width: 50%;
        }
    }

    .second {
        padding-right: 1.5rem;
        width: 60%;
        bottom: 15%;
        right: 0;
        opacity: 1;
    }

    .third {
        padding-left: 1.5rem;
        width: 60%;
        top: 15%;
        left: 0;
        opacity: 1;
    }

    .fourth {
        padding: 0 1.5rem;
        width: 100%;
        bottom: 10%;
        left: 0;
        opacity: 1;
        z-index: 202;
    }
}

.nonVideoSection {
    padding: 4rem 0;
    // height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .scrollingText {
        margin-bottom: 4rem;
        overflow: hidden;
    }
}