.background {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.video {
    position: fixed;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: fixed;
    z-index: 100;
    color: white;
}

.section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}