.container {
  position: relative;;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
}

.deck {
  position: absolute;
  width: 288px;
  height: 288px;
  will-change: transform, display;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-color: transparent;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 288px;
  height: 288px;
  will-change: transform;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px rgba(72, 71, 60, 0.08)) drop-shadow(0px 8px 15px rgba(72, 71, 60, 0.15));
}
