.background {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    // background: linear-gradient(0deg, rgba(95, 98, 0, 0.14), rgba(95, 98, 0, 0.14)), #FEFCF4;;
}

.mapContainer {
    width: 100%;
    position: absolute;
    left: -100%;
    top: 70%;
    left: 50%; // debugging
    top: 50%; // debugging
    transform: translate(-50%, -50%); // debugging

    .map {
        display: block;
        position: relative;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
    }

    .area {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;

        position: absolute;
        
        &.taipei {
            top: 2%;
            right: 35%;
        }

        &.newTaipei {
            top: 6%;
            right: 32%;
        }

        &.taoyuan {
            top: 10%;
            right: 42%;
        }

        &.hsinchu {
            top: 14%;
            right: 45%;
        }

        &.miaoli {
            top: 18%;
            right: 50%;
        }

        &.yilan {
            top: 17%;
            right: 39%;
        }

        &.nantou {
            top: 30%;
            right: 50%;
        }

        &.hualian {
            top: 40%;
            right: 35%;
        }

        &.taichung {
            top: 22%;
            right: 45%;
        }

        &.jiayi {
            top: 50%;
            right: 60%;
        }

        &.taidong {
            top: 60%;
            right: 40%;
        }

        .text {
            opacity: 1; // debuggging 0
            color: var(--text-color);
        }
        
        .point {
            width: 80px;
            height: 10px;
            display: block;
            position: relative;
            
            .line {
                // display: block;
                width: 100%; // debugging 0%
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                stroke-width: 1px;
                stroke: var(--text-color);
                fill: var(--text-color);
            }

            .circle {
                // display: block;
                width: 100%;
                height: 100%;
                stroke-width: 1px;
                stroke: var(--text-color);
                fill: var(--text-color);
                opacity: 1; // debugging 0
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

}