.videoContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;

  iframe {
    width: 100%;
    // height: 100%;
    aspect-ratio: 8/5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
