:root {
    --primary-color: #006A65;
    --background-color: #FEFCF4;
    --surface-variant-color: #E5E3D1;
    --text-color: #48473C;
    --border-color: #79786A;
    --border-variant-color: #C9C7B6;
    --sky-color: #FBFBDA;
}