.container {
    width: 100vw;
    // background-color: var(--background-color);
}

.group {
    color: var(--text-color);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1.25rem;

    .title {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .shop {
            > svg {
                width: 4px;
                height: 4px;
                fill: var(--primary-color);
            }

            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            align-items: center;
        }
    }

    > img {
        max-width: 100%;
        height: auto;
    }

    .link {
        position: relative;
        bottom: 3rem;
        left: calc(100% - 2rem);
        width: 4rem;
        height: 4rem;
        border-radius: 99%;
        background-color: var(--primary-color);
        > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: #FFFFFF;
        }
    }

    .button {
        width: 100%;
        background-color: transparent;
        padding: 0.5rem 0;
        border: solid 1px var(--border-color);
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
    }
}

a {
  text-decoration: none;
}